*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

:root{
    --celesteOscuro: #428BCA;
    --celesteClaro: #D9EDF7;
    --textoClaro: white;
    --textoOscuro: #2C6B8A;
}

body {
    width: 650px;
    margin: 40px auto;            
    border: 1px solid var(--celesteOscuro);
    border-radius: 5px ;
}

header {
    height: 65px;
    background-color: var(--celesteClaro);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px ;
}

header h2{
    color: #2C6B8A;
}

main .imgUPSB {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .imgUPSB img {
    height: 150px;
}

main .form-login {
    width: 600px;
    margin: auto;
}

main .form-login .controls{
    width: 100%;
    background:#F4F5F3;
    padding: 10px;
    border-radius: 4px;
    margin-top: 8px;
    margin-bottom: 18px;
    border: 1px solid #CECECE;
    font-size: 20px;
}

hr {
    width: 600px;
    margin: auto; 
    border: 0.1px solid #F1F1F1;
}

main .form-login .botonIniciarSesion{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

main .form-login .botonIniciarSesion img {
    height: 30px;
    margin-right: 5px;
}

main .form-login .botonIniciarSesion button{
    background-color: var(--celesteOscuro);
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 17px;
    color: white;
    display: flex;
    align-items: center;
}

