*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

body {
    text-align: center;
    width: 780px;
    margin: 30px auto;              /*Mismo porcentaje izquierda derecha*/
}

header {
    height: 210px;
    background-color: #6DC4DD;
    padding: 20px;
}

header .imgCabezera {
    background-color: white;
    height: 100px;
}

header .imgCabezera img {
    height: 100px;
}

header .titleSistem {
    background-color: #D9EDF7;
    color: #2C6B8A;
    font-size: 12px;
    padding: 5px;
}

header .navBar {
    height: 40px;
    background-color: white;
}

header .navBar img {
    height: 22px; 
    margin-top: 6px ;
    padding-left: 7px;
    float: left;
}

header .navBar ul {
    list-style: none;
}

header .navBar ul li a {
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    font-size: 13px;
    color: gray;
}

.config {
    float: right;
    margin-left: 250px;
}

header .navBar ul li:hover{
    background-color: #E7E7E7;
}

header .navBar ul li ul a:hover{
    background-color: #E7E7E7;
    display: block;
}

header .navBar .opciones > li {
    float: left;
    text-align: left;
}

header .navBar li ul {
    background-color: white;
    display: none;
    position: absolute;
    min-width: 100px;
}

header .navBar li:hover > ul {
    display: block;
}

header .navBar li ul li {
    position: relative;
}

main {
    height: 480px;
    background-color: #72B1FF;
}

main h1 {
    padding: 20px;
    color:white;
}

main .imgAprendizaje img{
    height: 350px;
}

footer {
    height: 80px;
    background-color: #6DC4DD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:  0px;
}

footer .derechos{
    text-align: left;
    color: white;
    padding-left: 20px;
}

footer .logosFacTwit{
    
    width: 120px;
    justify-content: right;
}

footer .logosFacTwit img {
    height: 30px;
}





